body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0c0520;
    color: white;
    margin: 0;
    padding: 0;
    height: 85vh;
}

.titulo {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.05;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
.error-container {
    height: 10px; /* Tamaño fijo */
    line-height: 10px;
}

#error {
    display: none;
    color: red;
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.mejores-puntajes {
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.5;
    padding: 6.5px;
}	

button {
    background-color: rgb(14, 126, 48);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    border: white 2px solid;
    background-color: rgb(10, 90, 34);
    padding: 13px 25px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(2, 125px);
    grid-gap: 12.5px;
    justify-content: center;
}

.color-button {
    width: 125px;
    height: 125px;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
.yellow { background-color: yellow; }

.color-button.active {
    opacity: 0.5;
}

.high-scores {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    font-size: 12.5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.high-scores th, .high-scores td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 150px;
}

.high-scores th {
    color: white;
}

input#playerName {
    width: 175px;
    padding: 10px 20px;
    border: 1.5px solid #757575;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}