body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c0520;
    color: white;
    margin: 0;
    padding: 0;
    height: 90vh;
}


button {
    background-color: rgb(14, 126, 48);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    border: white 2px solid;
    background-color: rgb(10, 90, 34);
    padding: 10px 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.color-button {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
.yellow { background-color: yellow; }

.color-button.active {
    opacity: 0.5;
}